
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}



section{
    padding: 100px 0;
    display: flex;
}

/* about css start */
#about{
    background: url(./images/top-banner.png) left top;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.half-width{
    width: 50%;
    padding: 0 50px;
}
.half-width span{
    color: orange;
}
.half-width img{
    width: 80%;
    float: right;
}
h5{
    font-size: 1.2rem;
    font-weight: 700;
}
p{
    margin-bottom: 30px;
    line-height: 28px;
    color: grey;
    text-align: justify;
}
.git-link{
    color: #fff;
    background: linear-gradient(90deg, rgba(237,124,10,1) 0%, rgba(255,3,3,1) 100%);
    padding: 20px 40px;
    border-radius: 5px;
}
/* about css end */

/* resume css start */
#resume{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.pd-r1{
    padding-right: 100px;
}
/* resume css end */


