body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}
ul{
    list-style: none;
}


section {
    padding: 100px 0;
    display: flex;
}

/* about css start */
#about {
    background: url(./images/top-banner.png) left top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.half-width {
    width: 50%;
    padding: 0 50px;
}

.color-orng {
    color: orange;
}

.half-width img {
    width: 80%;
    float: right;
}
.social{
    display: flex;
}
.social li{
    padding-left: 12px;
}
.social img{
    height: 30px;
    width: 30px;
}
h5 {
    font-size: 1.2rem;
    font-weight: 700;
}

p {
    margin-bottom: 30px;
    line-height: 28px;
    color: grey;
    text-align: justify;
}

.git-link {
    color: #fff;
    background: linear-gradient(90deg, rgba(237, 124, 10, 1) 0%, rgba(255, 3, 3, 1) 100%);
    padding: 20px 40px;
    border-radius: 5px;
}

/* about css end */

/* resume css start */
#resume {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;

}

.pd-r1 {
    padding-right: 100px;
}

/* resume css end */


/* experience css start */
#experience {
    display: block;
    padding-bottom: 600px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;

}

#experience h1 {
    margin-left: 30px;
}

.new-width {
    background-color: #fff;
    float: left;
    margin-left: 70px;
    width: 40%;
    box-shadow: 8px 8px 32px 2px rgb(0 0 0 / 50%);
    padding: 40px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 8px solid;
}

h2 {
    font-size: 40px;
}

#box-border-left {
    border-image: linear-gradient(#f3f30c, #ff340f) 1 / 1 / 0 stretch;
}

#box-border-right {
    border-image: linear-gradient(blue, cyan) 1 / 1 / 0 stretch;
}

/* experience css end */


/* footer css start */
footer p {
    color: dimgray;
    font-size: 12px;
    text-align: center;
}

/* footer css end */