*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.banner{
    background: url(./images/top-banner.png) left top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
h1{
    font-size: 50px;
    margin: 20px;
}
